In [1]:
import pandas as pd

# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [14]:
def classification(ratings, movies):
    ratings = ratings.groupby('movieId').rating.mean().reset_index(name = 'class').sort_values('movieId')
    movies = movies.join(ratings.set_index('movieId'), on = 'movieId').fillna(0)

    def class_(row):
        r = round(row['class'] * 2) / 2

        low = [0.5, 1, 1.5, 2]
        average = [2.5, 3, 3.5, 4]
        high = [4.5, 5]

        if r in low:
            class_ = 'low rating'
        elif r in average:
            class_ = 'average rating'
        elif r in high:
            class_ = 'high rating'
        else:
            class_ = 'no rating'
        return class_

    movies['class'] = movies.apply(class_, axis=1)
    return movies

In [15]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
classification(ratings, movies)

,movieId,title,genres,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,average rating
1,2,Jumanji (1995),Adventure|Children|Fantasy,average rating
2,3,Grumpier Old Men (1995),Comedy|Romance,average rating
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,average rating
4,5,Father of the Bride Part II (1995),Comedy,average rating
...,...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,average rating
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,no rating
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,high rating
9123,164977,The Gay Desperado (1936),Comedy,no rating
9124,164979,"Women of '69, Unboxed",Documentary,no rating

# Задание 2

Используем файл keywords.csv.
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
Результат классификации запишите в отдельный столбец region.

In [4]:
data_key = pd.read_csv('keywords.csv')
data_key.loc[data_key['keyword'].str.contains(r'москв{1,2}|тул{1,2}|ярославл{1,2}' , case=False, regex=True), 'region'] = 'Центр'
data_key.loc[data_key['keyword'].str.contains(r'петербург{0,2}|псков{0,2}|мурманск{0,2}', case=False, regex=True), 'region'] = 'Северо-Запад'
data_key.loc[data_key['keyword'].str.contains(r'владивосток{0,2}|сахалин{0,2}|хабаровск{0,2}', case=False, regex=True), 'region'] = 'Дальний Восток'
data_key = data_key.fillna('undefined')
data_key.to_csv('keywords_with_region.csv', index=False)

In [5]:
keywords_with_region = pd.read_csv('keywords_with_region.csv')
keywords_with_region.head(200)

             keyword     shows     region
0                 вк  64292779  undefined
1      одноклассники  63810309  undefined
2              порно  41747114  undefined
3               ютуб  39995567  undefined
4          вконтакте  21014195  undefined
..               ...       ...        ...
195          торрент    716336  undefined
196   порно рассказы    729707  undefined
197  погода в москве    745745      Центр
198         слизарио    715083  undefined
199               е1    705533  undefined

[200 rows x 3 columns]